.img-base {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.a-text {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    margin-bottom: 0;
}

li {
    list-style: none;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}




$utilities: map-merge($utilities,
        ("font-size": map-merge(map-get($utilities, "font-size"),
                (responsive: true,
                )),
        ));

@mixin mobile {
    @media (max-width: 992px) {
        @content;
    }
}