@import "bootstrap/scss/functions";
@import './variables';

@import "bootstrap/scss/bootstrap";
@import './utilities';
@import './mixins';

@import '../app/home.scss';
@import '../components/Header/header';
@import '../components/FilterBar/filterBar.scss';
@import '../components/Card/Card.scss';
@import '../components/Footer/footer';