@import "bootstrap/scss/functions";
@import './variables';

@import "bootstrap/scss/bootstrap";
@import './utilities';

@import '../app/home.scss';
@import '../components/Header/header';
@import '../components/FilterBar/filterBar.scss'