.imgGrayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.imgGrayscale:hover {
    filter: grayscale(0%);
}


.certification {
    width: 100%;

    &-container {
        max-width: 776px;
        margin: 0 auto;
        // padding: 0 24px; 
    }

    &-content {
        display: flex;
        gap: 50px;

        @include mobile {}
    }

    &-image {
        flex: 0 0 auto;
    }

    &-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: auto;

    }

}